@using System.Linq;
@model WordsSearchViewModel

@{
    ViewBag.Title = "Search words";
}

<h1 class="display-4 text-center">@ViewBag.Title</h1>

@await Component.InvokeAsync(nameof(BootstrapAlertComponent), TempData.Get<BootstrapAlertViewModel>(WebConstants.ALERTKEY))

@Html.Partial("_SearchForm", Model.SearchForm)

<div>
    <cs-alphapager cs-alphabet="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                   cs-selected-letter="@Model.SelectedLetter"
                   cs-all-label="All"
                   asp-controller="Words"
                   asp-action="Search"
                   cs-selected-letter-param="SelectedLetter"></cs-alphapager>
</div>

@if (Model.Data.Any())
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <span class="mr-2">Gender</span>

                    <a href="#" class="sort-link mr-2" onclick="submitFormWithParams('gender', 'ascending')">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="sort-link" onclick="submitFormWithParams('gender', 'descending')">
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                    </a>
                </th>
                <th>
                    <span class="mr-2">Content</span>

                    <a href="#" class="sort-link mr-2" onclick="submitFormWithParams('content', 'ascending')">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="sort-link" onclick="submitFormWithParams('content', 'descending')">
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var word in Model.Data)
            {
                <tr>
                    <td>@word.Gender</td>
                    <td>@word.Content</td>
                    <td>
                        <a asp-controller="Words" asp-action="Edit" title="Edit Word" asp-route-id="@word.Id"><i class="fa fa-pencil contact small-icon" aria-hidden="true"></i></a>
                        <a asp-controller="Words" asp-action="Delete" title="Delete Word"><i class="fa fa-trash contact small-icon btn-delete" data-Id="@word.Id" aria-hidden="true"></i></a>
                    </td>
                </tr>}
        </tbody>
    </table>

    @await Component.InvokeAsync(
        nameof(BootstrapModalComponent),
        new BootstrapModalViewModel()
        {
            Body = "Do you want to delete this word.",
            ConfirmButtonName = "Yes",
            Title = "Confirm delete",
            CancelButtonName = "No",
            Id = "delete-modal",
            ConfirmButtonId = "modal-confirm"
        })
}

@section Scripts {
    <script type="text/javascript">

        function submitFormWithParams(column, direction) {
            var $form = $('#search-form');

            var sortcolumn = $("<input>")
                .attr("type", "hidden")
                .attr("name", "sortColumn").val(column);

            var sortDirection = $("<input>")
                .attr("type", "hidden")
                .attr("name", "sortDirection").val(direction);

            $form.append($(sortcolumn)).append($(sortDirection));

            $form.submit();
        }

        $(document).ready(function () {

            var dialog = $('#delete-modal').modal({ show: false });
            var selectedWordId;
            var selectedWord;
            var $errorSign;

            $('.btn-delete').on('click', function (event) {
                event.preventDefault();
                selectedWord = $(event.target);
                selectedWordId = $(event.target).attr('data-Id');
                dialog.modal().show();
            });

            $('#modal-confirm').on('click', function (event) {
                if ($errorSign) { $errorSign.remove(); }

                $.ajax({
                    type: "POST",
                    url: '/translations/deleteConfirmed?id=' + selectedWordId,
                    data: {},
                    success: function (data) {
                        window.location.reload(true);
                    },
                    error: function () {
                        $errorSign = $('<i class="fa fa-exclamation-circle text-danger ml-3" aria-hidden="true"></i>');

                        selectedWord.parent().append($errorSign);
                    }
                });

            });

        });
    </script>
}
