<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Web app which helps you to commit new vocabulary to long term memory.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Petar Stoyanov">

    @{ 
        var loggedUser = (User)ViewBag.LoggedUser;
        var currController = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
        var currAction = ViewContext.RouteData.Values["Action"].ToString().ToLower();
    }

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />*@
        <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @if (ViewBag.RegisterJqueryUi == true)
    {
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.css" />
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.structure.css" />
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.theme.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.min.css" />
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.structure.min.css" />
            <link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.theme.min.css" />
        </environment>
    }

    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_Navigation")

    <div class="container-fluid">

        <main class="@(ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "home" && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index" ? "landing-section" : String.Empty)">

            @RenderBody()
        
        </main>

        <footer>

            @Html.Partial("_Footer")

        </footer>

    </div>

    <environment include="Development">
        <script asp-src-include="~/lib/jquery/dist/*.js" ></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script  src="https://code.jquery.com/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/*.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    @if (ViewBag.RegisterJqueryUi == true)
    {
        <environment include="Development">
            <script src="~/lib/jquery-ui/js/jquery-ui.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/lib/jquery-ui/js/jquery-ui.min.js"></script>
        </environment>
    }
    
    @if (ViewBag.RegisterTinyMce == true)
    {
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    }

    @if (ViewBag.RegisterKnockout == true)
    {
        <script src="~/lib/knockout/knockout-3.4.2.js"></script>
    }

    @Html.Partial("_GoogleAnalytics")

</body>

</html>
